body {
  color: #000;

  
}
.wrapper {
    max-width: auto;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
    padding: 20px;
}
.high-contrast,
.high-contrast body {
    background-color: #000 !important;
    color: #fff !important;
}
/*to jest skopiowane trzeba to jeszcze poprawic */

.high-contrast .okno {
    background-color: #000;
}
.high-contrast .wrapper {
    background-color: #000;
    
}

.high-contrast a {
    color: #00ff00 !important;
}
/*to jest skopiowane trzeba to jeszcze poprawic */
/* ============================= */
/* HIGH CONTRAST – HEADER */
/* ============================= */

.high-contrast header {
    background-color: #000;
    color: #fff;
}

.high-contrast header h1 {
    color: #fff;
}

/* cały nagłówek */
header {
    position: relative;
    padding: 20px 40px;
    text-align: center;
}

/* Tytuł na środku */
header h1 {
    margin: 0;
}
/* pozycjonowanie kontenera przycisków */
.header-buttons {
    position: absolute;
    top: 20px;      /* odstęp od górnej krawędzi (na oko) */
    right: 40px;    /* odstęp od prawej krawędzi (na oko) */

    display: flex;
    gap: 12px;      /* odstęp między przyciskami */
}

/* Przycisk po prawej */
#contrast-toggle {
    padding: 10px 18px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
    border: 2px solid #000;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    z-index: 1000;
}
/* Po najechaniu na przycisk jego kolor zmienia sie na czarny a napis na biały */
#contrast-toggle:hover {
    background-color: #000;
    color: #fff;
}
/* Focus – dostępność */
#contrast-toggle:focus {
    outline: 3px solid #000000;
    outline-offset: 2px;
}
/* Tryb wysokiego kontrastu */
.high-contrast #contrast-toggle {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

/* linia pod nagłówkiem */
.separator {
    border: none;              
    height: 2px;              
    background-color: #000000; 
    margin: 20px 0;
}