body {
    background-color: lightblue;
    color: black;
}

.Zaloguj_sie {
    position: fixed;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 300px;
    height: 50px;

    text-align: center;
    line-height: 50px; /* wyśrodkowanie tekstu w pionie */
    }
     
.Rejestracja {
    position: fixed;
    top: 160px;
    left: 50%;
    transform: translateX(-50%);
    
    width: 300px;
    height: 50px;

    text-align: center;
    line-height: 50px; /* wyśrodkowanie tekstu w pionie */
    
 
}
